@media screen and (max-width:1100px) {
    .navigation{
        flex-direction: column;
        margin-bottom: 105px;
        
    }
    .nav-left{
        flex-direction: column;
    }
    
    .content-right{
        display: none;
    }
    
    .content-left{
        width: 100%;
    }
    
    .article{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .article-content{
        text-align: center;
    }
    
    .article img {
        width: 50vw;
        height: 50vw;
    }

    .row-articles{
        flex-direction: column;
    }
    
    
}
@media screen and (max-width:800px) {
    .contact-content{
        display:flex;
        height: 100vh;
    }

    .form-box input, textarea{
        width: 70vw;
        
    }
}
@media screen and (max-width: 768px) {
    .blogpost-img {
        height: 200px; /* Smaller height for smaller screens */
    }

    .blogpost-content {
        padding: 15px; /* Less padding for smaller screens */
    }

    .blogpost-content h1 {
        font-size: 20px; /* Smaller font size for smaller screens */
    }

    .blogpost-content p {
        font-size: 16px; /* Smaller font size for smaller screens */
    }

    .blogpost-info {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .author-info {
        margin-bottom: 10px; /* Space between author info and social media */
    }
}

@media screen and (max-width: 480px) {
    .blogpost-img {
        height: 150px; /* Even smaller height for very small screens */
    }

    .blogpost-content {
        padding: 10px; /* Even less padding for very small screens */
    }

    .blogpost-content h1 {
        font-size: 18px; /* Even smaller font size for very small screens */
    }

    .blogpost-content p {
        font-size: 14px; /* Even smaller font size for very small screens */
    }
}
