/* editor.css */

body {
    font-family: var(--font2);
    background-color: #f9f9f9;
}

.editor-container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.editor-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

#title {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

#content {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.btn:hover {
    background-color: darkviolet;
}

.footer {
    text-align: center;
    margin-top: 20px;
}